<?xml version="1.0"?>
<!--
  ~ Copyright © Magento, Inc. All rights reserved.
  ~
  ~ @author      Bruno Gomes <bgomesweb@gmail.com>
  ~ @copyright   2025 Bruno Gomes (<https://www.bgomesweb.com.br/>)
  ~ @license     https://www.bgomesweb.com.br Copyright
  ~ @link        https://www.bgomesweb.com.br/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bgomesweb_affiliaterakuten" frontName="rakuten">
            <module name="Bgomesweb_AffiliateRakuten" />
        </route>
    </router>
</config>
